python-slugify
pycryptodome
python-magic
ruamel.yaml
termcolor
munch

psycopg2-binary
aiopg
aiomysql
aioredis
aiosqlite3

pytsk3
libcreg-python
libesedb-python
libevt-python
libevtx-python
libexe-python
liblnk-python
libmsiecf-python
libnk2-python
libolecf-python
libpff-python
libregf-python
libscca-python
libewf-python
libqcow-python
libvhdi-python
libvmdk-python
